<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />



	<!-- Application -->
	<bean name="vaadinApp" class="dhbw.ka.mwi.businesshorizon2.BHApplication"
		scope="session" />
	<bean name="eventBus" class="com.mvplite.event.EventBus" scope="session" />
	<bean name="navigationController" class="com.mvplite.view.LiteNavigationController"
		scope="session">
		<constructor-arg ref="eventBus" />
	</bean>


	<!-- Methods -->
	<bean name="timeseries"
		class="dhbw.ka.mwi.businesshorizon2.methods.timeseries.Timeseries"
		scope="session" />
	<bean name="wiener" class="dhbw.ka.mwi.businesshorizon2.methods.wiener.Wiener"
		scope="session" />



	<!-- Models -->
	<bean name="project" class="dhbw.ka.mwi.businesshorizon2.models.Project"
		scope="session" />
	<bean name="user" class="dhbw.ka.mwi.businesshorizon2.models.User"
		scope="session" />


	<!-- Main -->
	<bean name="mainPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.main.MainPresenter"
		scope="session" />
	<bean name="mainView" class="dhbw.ka.mwi.businesshorizon2.ui.main.MainViewImpl"
		scope="session" />

	<!-- Initial-Screen -->
	<bean name="initialScreenPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.InitialScreenPresenter"
		scope="session" />
	<bean name="initialScreenView"
		class="dhbw.ka.mwi.businesshorizon2.ui.initialscreen.InitialScreenViewImpl"
		scope="session" />

	<!-- Project-List -->
	<bean name="projectListPresenter"
		class="dhbw.ka.mwi.businesshorizon2.ui.projectlist.ProjectListPresenter"
		scope="session" />
	<bean name="projectListView"
		class="dhbw.ka.mwi.businesshorizon2.ui.projectlist.ProjectListViewImpl"
		scope="session" />

	<!-- Infos -->
	<bean name="infosViewPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.infos.InfosPresenter"
		scope="session" />
	<bean name="infosView" class="dhbw.ka.mwi.businesshorizon2.ui.infos.InfosViewImpl"
		scope="session" />


	<!-- Navigation -->
	<bean name="navigationPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.navigation.NavigationPresenter" scope="session" />
	<bean name="navigationView" class="dhbw.ka.mwi.businesshorizon2.ui.navigation.NavigationViewImpl" scope="session"/>



	<!-- ContentContainer -->
	<bean name="contentContainerPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.contentcontainer.ContentContainerPresenter" scope="session" />
	<bean name="contentContainerView"      class="dhbw.ka.mwi.businesshorizon2.ui.contentcontainer.ContentContainerViewImpl"  scope="session"/>
	
	

	<!-- Method-Selection -->
	<bean name="methodPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.method.MethodPresenter" scope="session" />
	<bean name="methodView"      class="dhbw.ka.mwi.businesshorizon2.ui.method.MethodViewImpl"  scope="session" />
	
	
	
	<!-- Method-Selection -->
	<bean name="periodPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.period.PeriodPresenter" scope="session" />
	<bean name="periodView"      class="dhbw.ka.mwi.businesshorizon2.ui.period.PeriodViewImpl"  scope="session" />
	
	
	
	<!-- Method-Selection -->
	<bean name="parameterPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.parameter.ParameterPresenter" scope="session" />
	<bean name="parameterView"      class="dhbw.ka.mwi.businesshorizon2.ui.parameter.ParameterViewImpl"  scope="session" />
	
	
	
	<!-- Method-Selection -->
	<bean name="processingPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.processing.ProcessingPresenter" scope="session" />
	<bean name="processingView"      class="dhbw.ka.mwi.businesshorizon2.ui.processing.ProcessingViewImpl"  scope="session" />
	
	
	
	<!-- Method-Selection -->
	<bean name="outputPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.output.OutputPresenter" scope="session" />
	<bean name="outputView"      class="dhbw.ka.mwi.businesshorizon2.ui.output.OutputViewImpl"  scope="session" />
</beans>
