<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />


	
	<!-- Application -->
	<bean name="vaadinApp" class="dhbw.ka.mwi.businesshorizon2.BHApplication" scope="session" />
	<bean name="eventBus" class="com.mvplite.event.EventBus" scope="session" />
	<bean name="navigationController" class="com.mvplite.view.LiteNavigationController" scope="session">
		<constructor-arg ref="eventBus" />
	</bean>
	
	
	
	<!-- Methods -->
	<bean name="timeseries" class="dhbw.ka.mwi.businesshorizon2.methods.timeseries.Timeseries" scope="session" />
	<bean name="wiener" class="dhbw.ka.mwi.businesshorizon2.methods.wiener.Wiener" scope="session" />
	
	
	
	<!-- Models -->
	<bean name="project" class="dhbw.ka.mwi.businesshorizon2.models.Project" scope="session" />


	
	<!-- Main -->
	<bean name="mainPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.main.MainPresenter" scope="session" />
	<bean name="mainView" class="dhbw.ka.mwi.businesshorizon2.ui.main.MainViewImpl" scope="session" />


	
	<!-- Period-List -->
	<bean name="periodListPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.periodlist.PeriodListPresenter" scope="session" />
	<bean name="periodListView" class="dhbw.ka.mwi.businesshorizon2.ui.periodlist.PeriodListViewImpl" scope="session" />


	
	<!-- Period-Edit -->
	<bean name="periodEditPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.periodedit.PeriodEditPresenter" scope="session" />
	<bean name="periodEditView" class="dhbw.ka.mwi.businesshorizon2.ui.periodedit.PeriodEditViewImpl" scope="session" />
	

	<bean name="methodView"     class="dhbw.ka.mwi.businesshorizon2.ui.method.MainViewImpl" scope="session" />
	<bean name="parameterView"  class="dhbw.ka.mwi.businesshorizon2.ui.parameter.ParameterViewImpl" scope="session" />
	<bean name="periodView"     class="dhbw.ka.mwi.businesshorizon2.ui.period.PeriodViewImpl" scope="session" />
	<bean name="processingView" class="dhbw.ka.mwi.businesshorizon2.ui.processing.ProcessingViewImpl" scope="session" />
	<bean name="outputView"     class="dhbw.ka.mwi.businesshorizon2.ui.output.OutputViewImpl" scope="session" />

	
	<!-- Method-List -->
	<bean name="methodListPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.methodlist.MethodListPresenter" scope="session" />
	<bean name="methodListView" class="dhbw.ka.mwi.businesshorizon2.ui.methodlist.MethodListViewImpl" scope="session" />


	
	<!-- Method-Edit -->
	<bean name="methodPresenter" class="dhbw.ka.mwi.businesshorizon2.ui.method.MethodPresenter" scope="session" />
	<bean name="methodView" class="dhbw.ka.mwi.businesshorizon2.ui.method.MethodViewImpl" scope="session" />
	
</beans>